<!-- start Header Area -->
<header id="header">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div id="logo">
                <a href="/">
                    <img class="logo-2" src="assets/img/dokdo/dokdo.png" alt="" title="" />
                </a>
            </div>
            <div class="nav-wrap d-flex flex-row align-items-center">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#features">Features</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                        <li class="menu-has-children">
                            <a href="">Blog</a>
                            <ul>
                                <li>
                                    <a href="blog-home.html">Blog Home</a>
                                </li>
                                <li>
                                    <a href="blog-home-sidebar.html">Blog Home Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-list.html">Blog List</a>
                                </li>
                                <li>
                                    <a href="blog-list-sidebar.html">Blog List Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-details.html">Blog Details</a>
                                </li>
                                <li>
                                    <a href="blog-details-sidebar.html">Blog Details Sidebar</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <a class="genric-btn" href="request-demo.html">Free trial</a>
            </div>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header>
<!-- End Header Area -->