<!-- start Header Area -->
<header id="header">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div id="logo">
                <a href="/">
                    <img class="logo-2" src="assets/img/dokdo/dokdo.png" alt="" title="" />
                </a>
            </div>
            <div class="nav-wrap d-flex flex-row align-items-center">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#features">Features</a>
                        </li>
                        <li>
                            <a href="#subscribe">Subscribe</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header>
<!-- End Header Area -->